/* 
.card{
    width: 18rem;
} */

/* Logo */
.cls-1, .cls-2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
  stroke-width: 24px;
  animation: anim_logo 3s linear infinite alternate;
}

.cls-2 {
  stroke-dasharray: 24.38 24.38;
}

#logo{
  width: 100px;
}

/* Formulaire */

.red,
.red a{ 
  margin-left: 5px;
  padding-left: 5px;
  display: -webkit-inline-box;
  color: red;
}

.textGreen{ 
  margin-left: 5px;
  padding-left: 5px;
  display: -webkit-inline-box;
  color: green;
}

#anim_bouton_modal:hover{
  transition: box-shadow 1s;
}

#anim_bouton_modal:hover{
  box-shadow: 0 0px 5px 5px rgba(255, 255, 255, 0.6);
}

#anim_produit:hover{
  transition: box-shadow 1s;
}

#anim_produit:hover{
  box-shadow: 0 0px 5px 5px rgba(68, 68, 68, 0.6);
}

@keyframes anim_logo {
  from{
    stroke: #FFFFFF;
  }
  to{
    stroke: #007bff;
  }
}